# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment Variables
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

# IDE - IntelliJ
.idea/
*/.idea/*

# IDE - VS Code
.vscode/
*.code-workspace

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Temporary Files
*.swp
*.swo
*~

# Local Development
.vercel
.next
