:root {
	--primary-color: #3498db;
	--secondary-color: #2ecc71;
	--font-family: 'Roboto', sans-serif;
	--font-size: 16px;
}

body {
	font-family: var(--font-family);
}

#container {
	padding: 16px;
	background-color: var(--primary-color);
	border-radius: 5px;
}

h3 {
	color: white;
}

ul {
	list-style-type: disc;
	padding-left: 20px;
}

li {
	margin-bottom: 8px;
}

.deleteButton {
	margin-left: 16px;
}

input {
	padding: 8px;
	border-radius: 5px;
	border: none;
	margin-right: 8px;
}
